# Data Type and Structura Questions:-

Q.1 what are data structures, and why are thay important?

  -> Data structures are a way to organize data on a computer so that it can be processed, stored, and retrieved quickly and effectively.

Importanrance:-

  Data structure are important because they help computer process large amounts of data efficiently and make code easier to underswtand.

Q.2 Explain the difference between mutable and immutable data types with examples?

  -> Mutable:- an object is mutable if its state or value can be changed after it is created.
  examples: Lists, dictionaries, and sets are mutable.

Immutable:- an object is immutable if its state or value cannot be modified after it is created.
examples: Integers,strings, and tuples are immutable.

 Q.3 What are the main difference between lists and tuples in python?

  -> The main difference between lists and tuples are lists are mutable objects. this means lists objects can be changed or modified.while tuples are immutable objects, which cannor be modified.

Q.4 Describe how dictionaries store data?

  -> Dictionary allows you to store data values in key:value pairs.

Q.5 Why might you use a set instead of a list in python?

  -> One of the main advantages of using sets  in python is that they are highly optimized for membership tests or when the uniqueness of elements is crucial and order doesn't matter.

Q.6 What is the a string in python, and how is it diffenent from a list?

-> A string is a sequence of characters enclosed in either quotes(") or double quotes("").
  the diffence between string and list is string is a sequence of characters. while, list is a sequence of characters, integers or even another list.

Q.7 How do tuples ensure data integrity in python?

-> Tuples are an essential dat structure in python, representing an immutable. once a tuple is created, its contents cannot be changed. this immutability makes tuples a reliable choice for storing fixed collection of data.


Q.8 What is a hash table, and how does it relate to dictionaries in python?

-> A hash table is a data structure that stores key-value pairs in an array, using a hash function to determine the index of each data item. in python, the dictionary data represent the implementation of hash tables.

Q.9 Can lists contain different data types in python?

-> Although it's not really common, a list can also contain a mix of python types including strings, floats, and booleans.

Q.10 Explain why strings are immutable in python?

  -> We cannot change the strings after they are ctreated. we  can't change the strings that why they are immutable in python.

Q.11 What advantages do dictionaries offers  over lists for certain tasks?

-> Dictionarys have two parts to every entry the key and the value and these are stored as pairs. this can give you more flexibility when storing data. the primary advantage would be retrieving stored values as it is much simpler to serch through a dictonary.

Q.12 Describe a scenario where using a tuple would be preferable over a list?

  -> When creating a employee ID in a company tuple would be preferable over a list because list can be changed but tuple cannot be changed in this scenario the immutable tuple wii be best choice.

Q.13 How do sets handle duplicate values in python?

  -> Items of a set in python are immutable, do not duplicate values, and unordered. thus, item in a set do not appear in stipulated manner,i.e., they can appear in different order every time it is used. due to this, set items cannot be rffered to by key or indexx.

Q.14 How does the "in" keyword work differently for lists and dictionaries?

  -> The "in" keyword in python returns true if a certain elements is presents in a python objects, else it will return false.

  "in" keyword is used to test whether certain characters are present in a string or a certain value present in a list or tuple.

Q.15 Can you modify the elements of a tuple? explain why or why not?

  -> No, we cannot modify the elements of a tuple because tuple is immutable. its objects or elements cannot be changed.

Q.16 What is a nested dictionary, and give an example of its use case?

  -> In python, a nested dictionary is a dictionary inside another dictionary.

  use case1 :- Organise employees by department, with each employee's details in a nested dictionary.

  use case2 :- Track product categories, subcategories, and individual product details.

Q.17 Describe the time complaxity of accessing elements in a dictionary?

  -> The time complexity of accessing an element in a python dictionary is O(1) on average, which means it takes a constant amount of time to retrive an element, regardless of the dictionary size.

Q.18 In what situations are lists preffered over dictionaries?

  -> List are preferred when we want to make a survey in a hospital for the use of certain drugs from made by a pharma company. in which we can make 2 files of same patient who is taking 2 types of drug because he has 2 or 3 types of deases which need treatment.

Q.19 why are dictionaries considered unordered, how does that affect data retrieval?

  -> Dectionaries are unordered because python dictionaries are not intended to be in order.If dictionary is unorderd means that any time you loop through a dictionary, you  will go through every key, but you are not guaranteed to get them in any particular order.

Q.20 Explain the difference between a list and a dictionary in terms of data retrieval?

  -> If we want to retrieve the data we can retrieve it in sequence by using list but we cannot retrieve the data in sequence by usinf dictionaries because it is unordered.

## **Practical Questions:-**

In [2]:
# 1. Write a code to create a string with your name and print it
a = "Minal"
print(a)

Minal

In [3]:
# 2. Write a code to find the length of the string "Hello World"
a = "Hello World"
len(a)

11

In [5]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
print(a[0:3])

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase
Text = "hello"
Text.upper()

'HELLO'

In [7]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
a.replace("apple","orange")

'I like orange'

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [13]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [14]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [15]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [16]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [17]:
# 11.  Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [18]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [19]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [20]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [21]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
"banana" in tuple

True

In [23]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [24]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1, 2, 3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [25]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

In [26]:
#  19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [27]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [28]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [29]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuple = ('apple', 'orange', 'banana')
"banana" in tuple

True

In [30]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [31]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}